@import '../../_css/common';

.login {
  display: grid;
  grid-template-columns: 1fr 45%;
  height: 100vh;

  @include mid-break {
    grid-template-columns: 1fr;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/images/image-1.svg');
  }
}

.heroImg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/images/image-1.svg');

  @include mid-break {
    display: flex;
    justify-content: center;
  }
}

.formContainer {
  max-width: 600px;
  width: 100%;
  padding: 50px;
  border-radius: 10px;

  @include mid-break {
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  @include small-break {
    padding: 30px;
  }
}

.params {
  margin-top: var(--base);
}